In [1]:
import pandas as pd 
import pandahouse as ph

Условия задачи 


2.1 Очень усердные ученики.

2.1.1 Условие

Образовательные курсы состоят из различных уроков, каждый из которых состоит из нескольких маленьких заданий. Каждое такое маленькое задание называется "горошиной".

Назовём очень усердным учеником того пользователя, который хотя бы раз за текущий месяц правильно решил 20 горошин.

Дана таблица default.peas:

Название атрибута	Тип атрибута	Смысловое значение
st_id	               int	         ID ученика
timest	               timesta       Время решения карточки
correct	               bool	         Правильно ли решена горошина?
subject	               text	         Дисциплина, в которой находится горошина 

Необходимо написать оптимальный запрос, который даст информацию о количестве очень усердных студентов.NB! Под усердным студентом мы понимаем студента, который правильно решил 20 задач за текущий месяц.

2.2 Оптимизация воронки

2.2.1 Условие

Образовательная платформа предлагает пройти студентам курсы по модели trial: студент может решить бесплатно лишь 30 горошин в день. Для неограниченного количества заданий в определенной дисциплине студенту необходимо приобрести полный доступ. Команда провела эксперимент, где был протестирован новый экран оплаты.

2.2.2 Задача

Дана таблицы: default.peas (см. выше), default.studs:

Название атрибута	Тип атрибута	Смысловое значение
st_id	             int	           ID ученика
test_grp	         text	           Метка ученика в данном эксперименте

и default.final_project_check:

Название атрибута	Тип атрибута	Смысловое значение
st_id	                int 	      ID ученика
sale_time	            timestamp	  Время покупки
money	                int	          Цена, по которой приобрели данный курс
subject	                text 	

Необходимо в одном запросе выгрузить следующую информацию о группах пользователей:

ARPU 
ARPAU 
CR в покупку 
СR активного пользователя в покупку 
CR пользователя из активности по математике (subject = ’math’) в покупку курса по математике
ARPU считается относительно всех пользователей, попавших в группы.

Активным считается пользователь, за все время решивший больше 10 задач правильно в любых дисциплинах.

Активным по математике считается пользователь, за все время решивший 2 или больше задач правильно по математике.

In [2]:
# подключаемся к ClickHouse через pandahouse
connection_default = {'host': 'https://clickhouse.lab.karpov.courses',
                      'database':'default',
                      'user':'student', 
                      'password':'dpo_python_2020'
                     }

2.1.1 
Для начала нужно выяснить за какой период решались задачки. По условию нам, чтобы каждый ученик решил 20 задачек за текуцщий месяц.

In [3]:
q= '''
      Select min(toStartOfDay(timest)) as min_date, 
             max(toStartOfDay(timest)) as max_date
      from   default.peas 

   ''' 

#отправляем запрос, и записываем результат в пандовский датафрейм

month=ph.read_clickhouse(query=q, connection=connection_default)
month

    min_date   max_date
0 2021-10-30 2021-10-31

По результатам видно, что ученики решали задачки только 2 дня

Найдем информацию о количестве усердных учеников (которые решили 20+ задач правильно)

In [4]:
q_20= '''
             select count(st_id) as Hard_students
             from(select st_id,
                   sum(correct) as Sum_correct 
                   from default.peas  
                    GROUP BY st_id
                    HAVING Sum_correct>=20)

   ''' 

#отправляем запрос, и записываем результат в пандовский датафрейм

hard_students=ph.read_clickhouse(query=q_20, connection=connection_default)
hard_students

   Hard_students
0            136

В текущем месяце 20+ горошин получили 136 учеников

2.1.1

In [5]:
q_help='''
         select test_grp, Count(*) as Group,
       sum(clients) / count(st_id) as CR, --конверсия в покупку
       sum(clients=1 and quantity> 10) / sum(quantity>10) as CR_active, --конверсия активного пользователя в покупку
       sum(math_payment) / sum(Math_score) as CR_math, --конверсия активности пользователя по математике в покупку курса
       sum(payment) / count(st_id) as ARPU, --Средний доход с привлеченного пользователя
       sum(payment) / sum(quantity>10) as ARPAU-- Средний платеж на всех активных пользователей
from(
        select c.st_id as st_id, 
            c.test_grp as test_grp, 
            b.payment as payment, 
            b.clients as clients, 
            a.quantity as quantity, 
            a.Math_score as Math_score, 
            case when Math_score=1 and clients=1 then 1 else 0 end as math_payment--Активный покупатель математики
    from default.studs as c
left join (
    select st_id, 
        sum(money) as payment,-- сумма покупки 
        count(distinct(st_id)) as clients -- пользователи кто совершил покупку
    from default.final_project_check 
    group by st_id) as b 
   on  c.st_id=b.st_id
left join(
    select st_id, 
        sum(quantity) as quantity,
        sum(Math_score) as Math_score
    from(select st_id, subject,
        sum(correct) as quantity,--количество правильных ответов 
        case when subject='Math' and quantity >= 2 then 1 else 0 end as Math_score--количество решенных задач по математике >2
    from default.peas
    GROUP BY st_id, subject)
    GROUP BY st_id) as a 
on c.st_id=a.st_id
)
GROUP BY test_grp



'''
trial=ph.read_clickhouse(query=q_help, connection=connection_default)
trial

  test_grp  Group        CR  CR_active   CR_math          ARPU         ARPAU
0  control    305  0.049180   0.110236  0.102041   4540.983607  10905.511811
1    pilot    295  0.108475   0.260417  0.142857  11508.474576  35364.583333

Ход работы:В начале я по рабортал с таблицой final_project_check: нашел сумму покупки для каждого пользователя и посчитал количество клиентов. 
Далее приджойнил преобразованную таблицу к таблице studs. После поработал с таблицей peas : определил активных пользователей. Далее смерджил таблшицу peas с таблицой которую получил до этого. 
После посчитал заданные метрики и сгруппировал по тестовой группе. Из результата видно, чтол по всем показателям новый экран оплаты обходит старый,несмотря на то что количество пользователекй старого больше.